extends layout

block content
  div
    h2 #{location_name}
  div#content
    h3 General Mood Here: #{emotion}
    h4 Top 10 keywords: #{top_tags}
    ul#image-list
      each media in media_list
        li
          div
            - hashtags = media['tags'].join(', ')
            img.insta-image(src="#{media['images']['standard_resolution']['url']}", title="#{hashtags}")